<%- include('../partials/header') %>

<form id="search-swaps">
  <div>
    <input type="text" placeholder="Search for eco-friendly alternatives">
    //What is placeholder? What you see in the input box before you enter anything
  </div>
  <div>
    <button>Search</button>
  </div>
</form>

<%- include('../partials/footer') %>
