<!-- <%- include('../partials/header') %> -->

<!-- <form id="search-swaps">
  <div class="input-item">
    <input type="text" placeholder="Search for eco-friendly alternatives"> -->
    <!-- What is placeholder? What you see in the input box before you enter anything -->
  	<!-- <div class="search-button">
    	<button>Search</button>
		</div>
	</div>
</form> -->

<!-- <%- include('../partials/footer') %> -->
