<!DOCTYPE html>
<html>
  <head>
    <title>Slash Trash</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/alternatives.js"></script>
  </head>
  <body>
    <form id="search-swaps">
      <div class="input-item">
        <input type="text" placeholder="Search for eco-friendly alternatives" />
        <!-- Placeholder=What you see in the input box before you enter anything -->
        <div class="search-button">
          <button type="submit" id="searchBtn">Search</button>
          <!-- type="submit" allows you to search by pressing enter or clicking search button ---- type="button" works only when search button is pressed -->
        </div>
      </div>
    </form>

    <section id="alternatives-list"></section>
  </body>
</html>
