<!DOCTYPE html>
<html>
  <head>
    <title>Slash Trash</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Slash Trash</h1>
    <h2>Track your waste reduction</h2>
    <h3>Start your journey to a low-waste lifestyle</h3>
    <form action="/alternatives" method="GET">
      <button type="submit" id="alternatives-page">Search for Swaps</button>
    </form>
    <!-- <button>Search for Swaps</button> -->

    <form action="/seed/items" method="POST">
      <button type="submit">Seed Data</button>
    </form>
  </body>
</html>
