<!DOCTYPE html>
<html>

<head>
  <title>Slash Trash</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />

  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><i class="large material-icons">delete_forever</i>Slash Trash</a>
      <ul class="right">
        <li>
          <% if (user) { %>
          <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>

  <h1>Slash Trash</h1>
  <h4>Track your waste reduction</h4>
  <h5>Start your journey to a low-waste lifestyle</h5>
  <br />
  <form action="/alternatives" method="GET">
    <button type="submit" id="alternatives-page" class="btn white-text">SEARCH FOR SWAPS</button>
  </form>

  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">Test 1</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Test 2</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Test 3</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 blue">Hello 1</div>
  <div id="test-swipe-2" class="col s12 red">Hello 2</div>
  <div id="test-swipe-3" class="col s12 green">Hello 3</div>

</body>

</html>