<!DOCTYPE html>
<html>
  <head>
    <title>Slash Trash</title>
    <!-- Remove EJS tags on title -- was <%= Slash Trash%> before -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Slash Trash</h1>
    <h2>Track your waste reduction</h2>
    <h3>Start your journey to a low-waste lifestyle</h3>

    <form action="/seed/items" method="POST">
      <button type="submit">Seed Data</button>
    </form>
  </body>
</html>
