<!DOCTYPE html>
<html>

<head>
  <title>Slash Trash</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />

  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css" />


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>
    <div class="nav-wrapper light-green darken-4">
      <a href="/" class="brand-logo left"><i class="large material-icons">delete_forever</i>Slash Trash</a>
      <ul class="right">
        <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
            <% } else { %>
              <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
        </li>
      </ul>
    </div>
  </nav>

  <div class="page-body">
    <div class="intro">
      <div class="image">
        <img src="https://i.ibb.co/z55tc5F/slash-Trash-Icon.png" alt="slash-trash">
      </div>
      <div class="slash-trash">
        <h1>Slash Trash</h1>
        <h4>Track your waste reduction</h4>
        <h5>Start your journey to a low-waste lifestyle</h5>
        <br />
        <form action="/search" method="GET">
          <button type="submit" id="alternatives-page" class="btn white-text brown">SEARCH FOR SWAPS</button>
        </form>
      </div>
    </div>

    <div class="section">
      <h4>If it can't be <span class="re">RE</span>duced, <span class="re">RE</span>used, <span
          class="re">RE</span>paired, <span class="re">RE</span>built, <span class="re">RE</span>furbished, <span
          class="re">RE</span>finished, <span class="re">RE</span>sold, <span class="re">RE</span>cycled or composted,
        then it should be <span class="re">RE</span>stricted, <span class="re">RE</span>designed or <span
          class="re">RE</span>moved from production. </h4>
      <h6>-Pete Seeger</h6>
    </div>

    <div class="section">
      <h4>Materials to look for:</h4>
      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card-panel green lighten-1">
            <span class="white-text">GLASS</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green">
            <span class="white-text">METAL</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-1">
            <span class="white-text">ALUMINUM</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-2">
            <span class="white-text">STAINLESS STEEL</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green lighten-1">
            <span class="white-text">COPPER</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green">
            <span class="white-text">WOOD</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-1">
            <span class="white-text">BAMBOO</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-2">
            <span class="white-text">CORK</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green lighten-1">
            <span class="white-text">LINEN</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green">
            <span class="white-text">COTTON</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-1">
            <span class="white-text">HEMP</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-2">
            <span class="white-text">PLANT FIBERS</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green lighten-1">
            <span class="white-text">STONEWARE</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green">
            <span class="white-text">CERAMIC</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-1">
            <span class="white-text">CLAY</span>
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card-panel green darken-2">
            <span class="white-text">NONE!</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>