<%- include('./partials/header') %>

<section id="userSwap-list">
    <ul>
        <form action="/swaps/<%= swap.id %>?_method=DELETE">
            <button type="submit" class="btn white-text">Delete Swap</button>
        </form>
        <% }) %>
    </ul>
</section>

<%- include('./partials/footer') %>