body {
  /* padding: 50px; */
  font: 14px "Arial", Helvetica, Arial, sans-serif;
}

.page-body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.card {
  background-color: yellow;
  width: 300px;
}

#alternatives-list {
  background-color: tomato;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.activator {
  max-height: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 700px) {
  #alternatives-list {
    background-color: tomato;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 501px) and (max-width: 699px) {
  #alternatives-list {
    background-color: tomato;

  }
}

@media only screen and (max-width: 500px) {
  #alternatives-list {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 300px) {
  #alternatives-list {
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
  background-color: yellow;
  width: 250px;
  }
}